.App {
  display: flex;
flex-direction: column;
  text-align: center;
  justify-content: center;
align-items: center;
}

#twitter{
  
width: 1152px;
height: 30px;

/* Text xl/Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

/* Gray/900 */

color: #101828;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

#profile__img{

margin: 24px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 88px;
height: 88px;

background: url(Aboya.jpg);
border-radius: 275px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
  
}

#avatar__img{
  position: absolute;
width: 40px;
height: 40px;
right: 450px;
top: 2px;

/* Base/White */

background: #FFFFFF;
/* Gray/300 */

border: 1px dashed #D0D5DD;
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
}

a {
 /* Frame 5 */
text-decoration: none;
cursor: pointer;
 color: #000;
box-sizing: border-box;
margin: 15px;
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;

/* Gray/200 */

background: #EAECF0;
/* Gray/200 */

border: 1px solid #EAECF0;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;


}

footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px ;
    width: 100%;
    /* border-top: solid rgb(127, 140, 153); */


background: #FFFFFF;
}
footer .footer-image > img{
  width: 150px;
}
footer > span{
  color: #667085;
    font-size: 1.1rem;
}
.social{


  Width:
  Fill (1,216px);
  Height:
  Hug (72px);
  Top:
  862px;
  Left:
  112px;
  Padding:
  24px, 0px, 24px, 0px;
  Gap:
  64px;
  margin: 24px;
  
}
#slack__img{
  width: 40px;
  height: 40px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px;
}
#git{
  width: 40px;
  height: 40px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px;
}

