.App {
  display: flex;
flex-direction: column;
  text-align: center;
  justify-content: center;
align-items: center;
}
/* a{
  text-decoration: none;
} */

#twitter{
  
width: 1152px;
height: 30px;

/* Text xl/Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

/* Gray/900 */

color: #101828;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

#profile__img{


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 88px;
height: 88px;

background: url(Aboya.jpg);
border-radius: 275px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
  
}
a {
 /* Frame 5 */
text-decoration: none;
cursor: pointer;
 color: #000;
box-sizing: border-box;
margin: 15px;
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;

/* Gray/200 */

background: #EAECF0;
/* Gray/200 */

border: 1px solid #EAECF0;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;


}

footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}
footer > img{
  width: 150px;
}
footer > span{
  color: #667085;
    font-size: 1.1rem;
}
.social{
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 24px 0px;
gap: 64px;

width: 1216px;
height: 72px;

/* Base/White */

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
#slack__img{
  width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#git{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 2.31%;

background: #000000;
}

